.active-workout{

min-height:100vh;

background:#050505;

color:white;

padding:25px;

text-align:center;

}



.top{

display:flex;

justify-content:space-between;

align-items:center;

}



.top button{

background:none;

border:none;

color:#D4AF37;

font-size:30px;

}



.exercise-image{

margin-top:40px;

height:180px;

display:flex;

align-items:center;

justify-content:center;

font-size:100px;

background:#111;

border-radius:30px;

border:1px solid #333;

}



.active-workout h1{

font-size:36px;

margin-top:30px;

}



.target{

color:#D4AF37;

font-size:22px;

font-weight:900;

}



.timer{

margin:40px auto;

width:180px;

height:180px;

border-radius:50%;

border:6px solid #D4AF37;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

font-size:60px;

font-weight:900;

}



.timer span{

font-size:16px;

color:#888;

}



.instruction{

background:#111;

border-radius:20px;

padding:20px;

text-align:left;

}



.instruction p{

color:#aaa;

}



.complete{

margin-top:35px;

width:100%;

height:60px;

border:none;

border-radius:20px;

background:#D4AF37;

font-size:20px;

font-weight:900;

}