.welcome{

min-height:100vh;

background:#050505;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

color:white;

}


.logo{

font-size:48px;

font-weight:900;

letter-spacing:5px;

color:#D4AF37;

margin-bottom:40px;

text-shadow:

0 0 20px rgba(212,175,55,0.5);

}



h1{

font-size:36px;

line-height:1.2;

font-weight:900;

margin-bottom:20px;

}



p{

color:#888;

font-size:18px;

margin-bottom:40px;

}



button{

width:280px;

padding:18px;

border:none;

border-radius:16px;

background:#D4AF37;

color:#050505;

font-size:18px;

font-weight:900;

cursor:pointer;

}